::-webkit-input-placeholder {color: #4AC9E8;
font-size: 13px;}
::-moz-placeholder          {color: #4AC9E8;
	font-size: 13px;}/* Firefox 19+ */
:-moz-placeholder           {color: #4AC9E8;
	font-size: 13px;}/* Firefox 18- */
:-ms-input-placeholder      {color: #4AC9E8;
font-size: 13px;}

/*Исчезающий placeholder при получении фокуса*/
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

 

.infobox {
	background-color: #EFF3F7;
	border-radius: 4px;
	margin-bottom: 39px;
}
.infobox-header-wrapper {
	background-color: #4AC9E8;
	border-bottom: 17px solid #68DDFA;
	padding: 42px 0 37px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	margin-bottom: 48px;
}
.infobox-header-form {
	font-family: 'fira_sansbook';
	font-size: 27px;
	color: #fff;
}
.infobox-body {
	padding-bottom: 200px;
}
.infobox-body-wrapper {
	width: 402px;
	margin: 0 auto;
}
.input,.textarea {
    box-sizing: border-box;
    font-size: 13px;
    width: 100%;
    padding: 12px;
    border: 1px solid #4AC9E8;
 }
 /*Убираем синюю обводку*/
 .input,
 .input:focus,
 .textarea,
 .textarea:focus,
 .btn,
 .btn:active{
 	outline: none;
 }
.textarea {
	resize: none;/*убираем уголок справа внизу*/
	width: 100%;
	height: 180px;
	color: #48cbe8;
	overflow: auto;
	
	
}
/*Блоки ответов сервера при отправке формы*/
.server-response {
	border: 1px solid;
	font-size: 12px;
	width: 100%;
	padding: 6px 12px;
	margin-bottom: 6px;
	display: none;
}
.error {
	background-color: #fad2d1;
	border-color: #f97e76;
	color: #f97e76;
}
.success {
	background-color: #b8e1ce;
	border-color: #49bb7b;
	color: #49bb7b;
}/*Пишем общие стили*/
.form-group {
	margin-bottom: 15px;
}
/*Левая сторона*/
.left-side {
	float: left;
}
/*Делаем ширину формы в половину обертки с небольшим отступом*/
.form-write .form-wrapper .form-group {
	width: 48%;
}
.label {
	color: #969aa8;
	font-family: 'fira_sanslight';
	font-size: 19px;
	display: block;
	text-align: left;
	
}
.input {
	height: 41px;
	color: #4AC9E8;
	/*background-color: #fff;*/
}
.input,
.server-response,
.textarea {
	border-radius: 4px;
}
/*Правая сторона*/
.right-side {
	float: right;
}
.captcha{
	text-align: center;
	margin-bottom: 21px;
}

/*Оформление кнопок*/
.btn {
	background-color: #4AC9E8;
	color: #fff;
	font-family: 'fira_sansbook';
	font-size: 19px;
	border: 0;
	border-radius: 5px;
	height: 31px;
	padding: 0 22px;
	border-bottom: 2px solid #3DA7C0;
}
/*Для эффекта вдавливания. Если поставить 2px solid
 transparent, то кнопка статична*/
.btn:hover {
	border-bottom: none;
}
.btn:active {
	border-top: 2px solid #3da7c0;
}
.btn-send {
	float: left;
}
.btn-clear {
	float: right;
}
/*Не забудем добавить класс clearfix для обертки, чтобы 
не было блока с нулевой высотой*/
.g-recaptcha {
	display: inline-block;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff; }

.popup__close {
  display: block;
  background: url("/img/close-btn.png") 0 0 no-repeat;
  width: 36px;
  height: 35px;
  position: absolute;
  top: -18px;
  right: -18px; }


/* --------- tooltip --------- */
.divider {
  margin: 50px; }

.tooltip {
  
  display: inline-block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }

.tooltip__inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #fa8075;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap; }
  .tooltip__inner:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px; }

.tooltip_right, .tooltip_left {
  padding: 0 5px; }
  .tooltip_right .tooltip__inner:after, .tooltip_left .tooltip__inner:after {
    top: 50%;
    margin-top: -5px; }

.tooltip_top, .tooltip_bottom {
  padding: 5px 0px; }
  .tooltip_top .tooltip__inner:after, .tooltip_bottom .tooltip__inner:after {
    left: 50%;
    margin-left: -5px; }

.tooltip_top .tooltip__inner:after {
  bottom: 0;
  border-top-color: #fa8075;
  border-bottom-width: 0px; }

.tooltip_left .tooltip__inner:after {
  right: 0;
  border-left-color: #fa8075;
  border-right-width: 0px; }

.tooltip_right .tooltip__inner:after {
  left: 0;
  border-right-color: #fa8075;
  border-left-width: 0px; }

.tooltip_bottom .tooltip__inner:after {
  top: 0;
  border-bottom-color: #fa8075;
  border-top-width: 0px; }

/* --------- popups --------- */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff; }

.popup__close {
  display: block;
  background: url("/img/close-btn.png") 0 0 no-repeat;
  width: 36px;
  height: 35px;
  position: absolute;
  top: -18px;
  right: -18px; }

